<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VimeNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <VimeNotifier.Properties.Settings>
            <setting name="DMFlagCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChatFlagCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serverComboBox" serializeAs="String">
                <value>Minigames</value>
            </setting>
            <setting name="gameSoundPath" serializeAs="String">
                <value>C:\Windows\Media\Windows Proximity Notification.wav</value>
            </setting>
            <setting name="chatSoundPath" serializeAs="String">
                <value>C:\Windows\Media\Windows Notify Messaging.wav</value>
            </setting>
            <setting name="ChatActivateCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameActivateCheckBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="aliases" serializeAs="String">
                <value />
            </setting>
        </VimeNotifier.Properties.Settings>
    </userSettings>
</configuration>